<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ecommerce.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>008593A32F7B9B600098FF1A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>00A30B602F8CFEF800FDB611</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>00A30B742F8CFF2300FDB611</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
